*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-menu{
    background-color: #333;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}

.nav-menu ul li{
    display: inline-block;
}

.nav-menu ul li a{
    margin: 0 15px;
}

.nav-menu ul li a:hover{
    color: #009b4d;
}

.logo{
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 25px;
}

.pic{
    position: relative;
}

.pic img{
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.paragraph{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    transform: translateY(50%);
}

.paragraph h1{
    font-size: 52px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.paragraph h1 span{
    color: #009b4d;
}

.paragraph p{
    font-size: 18px;
    margin-top: 8px;
}

.paragraph .btn{
    background-color: #009b4d;
    display: inline-block;
    margin-top: 16px;
    padding: 8px;
    color: #fff;
    border-radius: 8px;
}

.paragraph .btn:hover{
    color: #1b1212;
    background-color: #09b45f;
    cursor: pointer;
}

.adventure{
    color: #1b1212;
    padding: 40px;
    position: relative;
    text-align: center;
    margin: 1.2rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.adventure-one h2{
    font-size: 40px;
    margin-bottom: 15px;
}
.adventure-one p{
    margin-top: 15px;
    line-height: 1.5rem;
}

.btn-adv{
    display: flex;
    margin-top: 25px;
    text-align: center;
    position: absolute;
    left: 40%;
} 

.btn-adv .btn1 a{
    border: 2px solid #009b4d;
    color: #1b1212;
    padding: 6px 8px;
    font-size: 16px;
    margin-right: 12px;
}

.btn-adv .btn1 a:hover{
    background-color: #009b4d;
    color: #fff;
}

.btn-adv .btn2 a:hover{
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 6px;
}

.gallery{
    margin: 1.2rem;
}

.gallery .heading-g h2{
    align-items: center;
    text-align: center;
    font-size: 40px;
    margin-bottom: 2rem;
}

.photo-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.box{
    width: 73%;
    height: 25%;
    padding: 5px;
}

.footer{
    background-color: #333;
    width: 100%;
    padding: 100px 15%;
    color: #efefef;
    display: flex;
}

.footer div{
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
} 

form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.heading-about{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading-about h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading-about h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.heading-about p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    border-radius: 25px;
    margin-top: 15px;
}



.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.content-table thead tr{
    background-color: #009b4d;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}